:root {
    /* bg colors */
    --bg-primary-color: rgb(13, 13, 15);
    --bg-secondary-color: rgb(20, 20, 24);
    --bg-tertiary-color: rgb(32, 32, 38);
    --bg-hover-color: rgb(42, 42, 50);
    --bg-active-color: rgb(233, 233, 233);
    --bg-danger-color: rgb(220, 50, 50);
    --bg-success-color: rgb(22, 155, 60);

    /* accent */
    --accent-color: rgb(99, 102, 241);

    /* text colors */
    --text-primary-color: rgb(237, 237, 240);
    --text-secondary-color: rgb(170, 170, 180);
    --text-tertiary-color: rgb(100, 100, 115);
    --text-active-color: rgb(24, 24, 24);

    /* border */
    --border-color: rgba(255, 255, 255, 0.07);

    /* paddings */
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-xxl: 3rem;

    /* margins */
    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 1.5rem;
    --margin-xl: 2rem;
    --margin-xxl: 3rem;

    /* gutter */
    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

    /* font sizes */
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.5rem;

    /* border radius */
    --border-radius-sm: 0.2rem;
    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.3rem;
    --border-radius-xl: 0.4rem;
    --border-radius-xxl: 0.5rem;
}